<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Event Ticket</title>
</head>
<body>
    <h1>Your Ticket for <%= event.name %></h1>
    <img src="<%= qrCode %>" alt="QR Code">
    <p>Ticket ID: <%= ticketId %></p>
</body>
</html>
